.Navbar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  background-color: rgb(67, 108, 185);
  height: 12vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* position: fixed; */
}
.Navbar img {
  /* border: 1px solid red; */
  border-radius: 70%;
  height: 75%;
}
.User-detail {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 30%;
}
.search-bar input {
  font-size: 16px;
  width: 60%;
  height: 4vh;
  vertical-align: middle;
  border-radius: 5px;
  border-right: none;
}
.search-bar {
  /* border: 1px solid red; */
  display: flex;
  width: 35%;
}
.search-bar button {
  font-size: 16px;
}
.button,
.button_text {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.button > button:nth-child(1),
.button > button:nth-child(2),
.button > button:nth-child(3) {
  margin-left: 15%;
  margin-top: 5%;
}
.button_text > p:nth-child(1) {
  margin-left: 19%;
  margin-top: 1%;
}
.button_text > p:nth-child(2) {
  margin-left: 20%;
  margin-top: 1%;
}
.button_text > p:nth-child(3) {
  margin-left: 16%;
  margin-top: 1%;
}
.button_text {
  color: white;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(47, 40, 59);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* CSS */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  /* height: 52px; */
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

.hr-tag {
  display: none;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

@media (max-width: 375px) {
  .Navbar {
    background-color: #436db8;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 12vh;
  }
  .Navbar img {
    width: 50%;
    padding-left: 5%;
  }
  .Navbar .search-bar {
    margin-left: -70px;
    width: 250px;
    gap: 5px;
    align-items: center;
  }
  .Navbar .search-bar button {
    height: 5vh;
  }
  .button_text {
    display: none;
  }
  .button {
    /* margin-top: -10px; */
    margin-left: 220%;
    padding-bottom: 13px;
    width: 100px;
    justify-content: start;
    /* border-bottom: 1px solid grey; */
  }
  .hr-tag {
    margin-top: 55px;
    display: block;
  }
}

/* @media (max-width: 700px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Navbar img {
    width: 10%;
    margin-top: -6%;
    margin-left: -70px;
  }
  .Navbar .search-bar {
    margin-top: -6%;
    margin-left: -130px;
    width: 43%;
    gap: 5px;
  }
  .Navbar .User-detail {
    margin-left: -160px;
    height: auto;
  }
  .Navbar .button_text p:nth-child(1) {
    margin-left: 50px;
  }
  .Navbar .button_text p:nth-child(2) {
    margin-left: 60px;
  }
  .Navbar .button_text p:nth-child(3) {
    margin-left: 50px;
  }
} */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens. */
